#include <windows.h>
#include "resource.h"

///////////////////////////////////////////////////////////////////////////////
// Icons
///////////////////////////////////////////////////////////////////////////////

IDI_APP_ICON ICON "img\\notepad.ico"

///////////////////////////////////////////////////////////////////////////////
// Manifest
///////////////////////////////////////////////////////////////////////////////

IDR_APP_MANIFEST RT_MANIFEST "app.manifest"

///////////////////////////////////////////////////////////////////////////////
// Version Information
///////////////////////////////////////////////////////////////////////////////

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "MDTools\0"
            VALUE "FileDescription", "MyEncryptedNotes - Encrypted Note Manager\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "MyEncryptedNotes.exe\0"
            VALUE "LegalCopyright", "© 2025 MDTools. All rights reserved.\0"
            VALUE "OriginalFilename", "MyEncryptedNotes.exe\0"
            VALUE "ProductName", "MyEncryptedNotes\0"
            VALUE "ProductVersion", "1.0.2.0\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

///////////////////////////////////////////////////////////////////////////////
// Dialogs
///////////////////////////////////////////////////////////////////////////////

IDD_NEW_NOTE DIALOGEX 0, 0, 220, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Note"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Enter note name:", -1, 10, 10, 200, 12
    EDITTEXT        1000, 10, 25, 200, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 50, 55, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 120, 55, 50, 14
END
